<ul>
    <li>Soy una persona que disfruta de las aventuras al aire libre, como el hiking y la bicileta de montana</li>
    <li>Tambien disfruto jugar videojuegos con mis amigos y me gusta armar yo mismo la computadora en la que juego</li>
</ul>