app-header {
    width: 100%;
}

.panels {
    width: 100%;
    >div {
        box-sizing: border-box;
        float: left;
    }
    >div:nth-child(1) {
        width: 20%;
    }
    >div:nth-child(2) {
        width: 80%;
    }
}

app-footer {
    width: 100%;
}

.panels::after {
    content: "";
    clear: both;
    display: table;
}