<!DOCTYPE html>
<html lang="en">
<!-- arturo corona chavez 
    pagina responsiva implementando desktop first con dos breakpoints
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <style>
        #box {
            background-color: red;
            width: 500px;
            height: 300px;
            position: absolute;
            top: 50%;
            margin-top: -150px;
            right: 50%;
            margin-right: -250px;
        }
    </style>
</head>

<body>
    <header>
        <p>Arturo Corona Chavez</p>
    </header>
    <main>
        <nav class="menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/hobbies">hobbies</a></li>
                <li><a href="/mascotas">mascotas</a></li>
            </ul>
        </nav>
        <div id="menu">
            <nav>



            </nav>
        </div>
        {{{body}}}
    </main>
    <footer>
        &copy; iteso 2023
    </footer>
</body>

</html>