.menu{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: lightblue;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 100%;
}
li{
    text-align: left;
    text-justify: auto;
}
